<!DOCTYPE html>
<html>
<head>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>N1+ | Landing Page</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  
  <!-- Bootstrap 3.3.7 -->
  <!---- this link is replace by @import in applicactions.scss
  <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css">
  -->

  
  <!-- Font Awesome -->
  <!---- this link is replace by @import in applicactions.scss
  <link rel="stylesheet" href="../../bower_components/font-awesome/css/font-awesome.min.css">
  -->

  <!-- Ionicons -->
  <!-- this link is replace by @import in applicactions.scss
  <link rel="stylesheet" href="../../bower_components/Ionicons/css/ionicons.min.css">
  -->

  <!-- Theme style -->
  <!-- this link is replace by @import in applicactions.scss
  <link rel="stylesheet" href="../../dist/css/AdminLTE.min.css">
  -->
  <link rel="stylesheet" href="details-landing/landingTheme.css">

  <!-- iCheck -->
  <link rel="stylesheet" href="../../plugins/iCheck/square/blue.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="basic-page">
 
    
  
  

  <div class="carousel">
    <div class="carousel-inner">
      <div class="item active">
        <img src="assets/img/women-1920x783.jpg" alt="Women counselling">
        <div class="carousel-caption">
          <div id="h1color">
            <h0>NiUna+</h0><br>
            <h0>Una voz para las victimas</h0><br>
            <h0>de violencia de g&eacutenero</h0>
          </div><br>
          <div id="bcolor">
            <a class="btn btn-primary btn-lg" href="users/sign_in" role="button">INGRESAR</a>
          </div>
        </div>
      </div>
      
    </div>
  </div>

  <div class="container-fluid">
    <div class="row"> 
      <div class="col-md-6">
        <h00>La herramienta NiUna1+ permite</h00>
      </div>
      <!--
      <div class="col-md-6">
        <h00>Con Ni 1+</h00>
      </div>-->
    </div>

    <div class="row">
      <div class="col-md-3 mx-auto">
        <h1>Unificar</h1>
        <h4>En un s&oacutelo lugar todas las denuncias realizadas por las usuarias de la app NiUna+. </h4>
      </div>
      <div class="col-md-3">
        <h1>Gestionar</h1>
        <h4>Las denuncias reportadas por víctimas de violencia de género.</>
      </div>
      <div class="col-md-3">
        <h1>Actualizar</h1> 
        <h4>La informacion de los puntos de ayuda y asesor&iacutea a v&iacutectimas.</h4>
      </div>
      <div class="col-md-3">
        <h1>Ahora</h4> 
        <h4>La secretaria de la mujer posee informaci&oacuten en tiempo real para planear asistencia a las v&iacutectimas</h4>
      </div>
    </div>

    

  </div>

  


 





</body>
</html>



